body{
    background-color: rgba(0, 165, 221, 0.947);
}
.divheight{
    height:700px;
}
.text_block{
    font-size: 50px;
    color: white;
    text-align: center;

}
.doremone1{
    background-image: url(bQmQs.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.doremone2{
    background-image: url(hJpbG.jpg);
    background-attachment: fixed;
}
.doremone3{
    background-image: url(Jxigz.jpg);
    background-attachment: fixed;
}
.doremone4{
    background-image: url(KDO26.jpg);
    background-attachment: fixed;
}
.doremone5{
    background-image: url(lI9dV.jpg);
    background-attachment: fixed;
}